<div>
    <h1>Registro</h1>
    <form action="/api/users" method="post">
        <label>Name</label>
        <input name="name">
        <label>Last name</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <input type="submit">
    </form>
</div>